<html ng-app="demoMongo" ng-controller="MongoRestController" xmlns:border="http://www.w3.org/1999/xhtml">
<head >
    <title>Mongo DB</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="home.js"></script>
    <style>
        .siri{
            display:table;
            margin:0 auto;
        }
    </style>
</head>
<body>
<h1>Welcome</h1>
<div class="container text-center" style="text-align: center">
<form ng-submit="predict()">
    <div>
        <input type ="text" id ="image" name = "image" ng-model="image"/>
        <input type="submit" name ="predict" value="predict"/>
    </div>
    <div class="container text-center">
        <table id = "Predict_result" style="margin:0 auto" border:1px solid black>
        </table>
    </div>
    <div class="text-center">
        <input type=" text" name="search" id ="search">
        <input type ="button" name ="Get"  ng-click="GetData()" value="predicted data"><p></p>
        <div class ="siri text-center">
            <table id ="searchimg"></table>
        </div> <br>
        <input type=" text" name="search" id ="existingdata">
        <input type = "text" name ="update" id="update" placeholder="update">
        <input type = "button" name ="Edit" ng-click="EditData()" value="edit"> <br>
        <input type=" text" name="search" id ="deletedata">
        <input type = "button" name ="Delete" ng-click="Delete()" value ="delete">

    </div>
</form>
    <canvas id="myCanvas"></canvas>


</div>
</body>
</html>